<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Intelligence - Corporate Category Bootstrap Responsive Website Template - Shortcodes</title>

    <!-- google-fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;900&display=swap"
        rel="stylesheet">
    <!-- //google-fonts -->

    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="static/css/style-liberty.css">

</head>

<body>
<!--header-->
<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg stroke">
            <h1>
                <a class="navbar-brand" href="index.html">
                    <span class="fa fa-lightbulb"></span> Intelligence
                </a>
            </h1>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>
            <!-- search button -->

            <!-- //search button -->

            <!-- toggle switch for light and dark theme -->
            <div class="cont-ser-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>
<!--//header-->


<!-- Services banner -->
<section class="w3l-about-breadcrumb text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-5 py-md-4">
            <div class="banner-info-grid px-md-5">
                <h2 class="w3l-title-breadcrumb mb-3">白族简介</h2>
                <p class="inner-page-para px-lg-5">白族是中国第15大少数民族，主要分布在云南、贵州等省，其中以云南省白族人口最多，主要聚居在云南省大理白族自治州。此外四川省、重庆市等地也有分布。
白族有本民族语言，白语属汉藏语系藏缅语族彝语支。汉文自古以来一直为白族群众通用。白族在艺术方面独树一帜，其建筑、雕刻、绘画艺术名扬古今中外。在形成与发展的过程中，与周边的各民族相互往来，创建了灿烂的经济文化。
白族是一个聚居程度较高的民族，有民家、勒墨、那马三大支系，受汉文化影响较深。</p>
            </div>
        </div>
    </div>
</section>
<!-- //Services banner -->

<section class="w3l-about py-5" id="about"
    <div class="container py-md-5 py-2">
    </div>
    <div class="container py-md-5 py-2">
        <div class="row w3l-row">
            <div class="col-lg-6 w3l-image pe-lg-5 mb-lg-0 mb-md-5 mb-4">
                <img src="static/images/baixinyang.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 w3l-about-info px-lg-4 align-center">
                <h3 class="w3l-title-main mb-2">白族信仰</h3>
                <p class="my-4 pe-lg-5">本主崇拜是白族全民信奉的宗教。本主白语叫“武增”，是“本境福主”的简称，意即“我的主人”。他们是白族村社的保护神，有的一村供奉一个本主，也有几村供奉同一本主的情况。只要和白族村社有密切联系的人和事物都可以成为本主，所以在本主神祇中既有原始宗教色彩浓厚的山川树木、虫鱼鸟兽之神，也有佛道之神、儒家典范人物及民间传说中的人物；既有王室、贵族，也有英雄、平民；既有白族人物，也有汉族和其他民族的人物。这充分体现了本主崇拜兼容并蓄的特点。每位本主都有自己的节日，就是本主庙会。在白族人民的日常生活中，不仅节庆、重大事件都要到本主庙去献祭，举凡婚丧喜庆、疾病灾害、出门远行等，也要到本主庙祭祀，以祈求本主神的保佑。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-md-5 py-2">
        <div class="row w3l-row">
            <div class="col-lg-6 w3l-image pe-lg-5 mb-lg-0 mb-md-5 mb-4">
                <img src="static/images/baituteng.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 w3l-about-info px-lg-4 align-center">
                <h3 class="w3l-title-main mb-2">白族图腾</h3>
                 <p class="my-4 pe-lg-5">古代白族原始先民崇拜老虎与金鸡，虎图腾产生虎氏族，鸡图腾产生鸡氏族。金鸡，是白族原始图腾崇拜物之一。在大理，金鸡又与印度佛教故事中的大鹏金翅鸟、中华文化中的凤凰融为一体。在白族语境中，金鸡、大鹏金翅鸟、凤凰是同义词。大鹏金翅鸟，在梵文中称为迦楼罗。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-md-5 py-2">
        <div class="row w3l-row">
            <div class="col-lg-6 w3l-image pe-lg-5 mb-lg-0 mb-md-5 mb-4">
                <img src="static/images/baifushi.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 w3l-about-info px-lg-4 align-center">
                <h3 class="w3l-title-main mb-2">白族服饰</h3>
                 <p class="my-4 pe-lg-5">白族的服饰有一个漫长的历史发展过程，并在其中形成了自己的民族特色。白族人崇尚白色，服饰款式各地略有不同，以白色衣服为尊贵。</p>
                </div>
            </div>
        </div>
    </div>
</section>