<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Intelligence - Corporate Category Bootstrap Responsive Website Template - Shortcodes</title>

    <!-- google-fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;900&display=swap"
        rel="stylesheet">
    <!-- //google-fonts -->

    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="static/css/style-liberty.css">

</head>

<body>
<!--header-->
<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg stroke">
            <h1>
                <a class="navbar-brand" href="index.html">
                    <span class="fa fa-lightbulb"></span> Intelligence
                </a>
            </h1>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>
            <!-- search button -->

            <!-- //search button -->

            <!-- toggle switch for light and dark theme -->
            <div class="cont-ser-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>
<!--//header-->


<!-- Services banner -->
<section class="w3l-about-breadcrumb text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-5 py-md-4">
            <div class="banner-info-grid px-md-5">
                <h2 class="w3l-title-breadcrumb mb-3">羌族简介</h2>
                <p class="inner-page-para px-lg-5">羌族源于古羌，是中国西部的一个古老的民族，古羌对中国历史发展和中华民族的形成都有着广泛而深远的影响，民族语言为羌语，属于汉藏语系藏缅语族羌语支，分北部和南部方言。
羌族自称“尔玛”或“尔咩”，被称为“云朵上的民族”。主要分布在四川省阿坝藏族羌族自治州的茂县、汶川、理县、松潘、黑水等县以及绵阳市的北川羌族自治县，其余散居于四川省甘孜藏族自治州的丹巴县、绵阳市的平武县以及贵州省铜仁地区的江口县和石阡县。大多数羌族聚居于高山或半山地带，少数分布在公路沿线各城镇附近，与藏、汉、回等族人民杂居。</p>
            </div>
        </div>
    </div>
</section>
<!-- //Services banner -->

<section class="w3l-about py-5" id="about"
    <div class="container py-md-5 py-2">
    </div>
    <div class="container py-md-5 py-2">
        <div class="row w3l-row">
            <div class="col-lg-6 w3l-image pe-lg-5 mb-lg-0 mb-md-5 mb-4">
                <img src="static/images/qiangxinyang.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 w3l-about-info px-lg-4 align-center">
                <h3 class="w3l-title-main mb-2">羌族信仰</h3>
                <p class="my-4 pe-lg-5">羌族除一部分邻近藏族地区的信仰藏传佛教外，其余普遍信仰原始宗教，即万物有灵、多神信仰和祖先崇拜。神灵均以白石（白色石英石）为象征，被敬奉于山中、林地、屋顶和室内。一般在碉房屋顶四角供有五块白石，分别象征天神、地神、山神、山神娘娘和树神。此外，从事特殊行业的家庭，还供奉各自的祖师神。如猴头神、药王神、石匠神、鲁班、太上老君。一些地方的羌族受汉族影响，还供有灶神、土地神、观音菩萨，送子娘娘、川主、关圣人、玉皇大帝等。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-md-5 py-2">
        <div class="row w3l-row">
            <div class="col-lg-6 w3l-image pe-lg-5 mb-lg-0 mb-md-5 mb-4">
                <img src="static/images/qiangfushi.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 w3l-about-info px-lg-4 align-center">
                <h3 class="w3l-title-main mb-2">羌族服饰</h3>
                 <p class="my-4 pe-lg-5">羌族服饰各地略有差异。其中：汶川县的龙溪、绵虒、雁门，理县的蒲溪，茂县的赤不苏、黑虎、三龙、渭门，北川县的青片，松潘县的镇坪等地服饰具有代表性。头饰，男女包头帕。赤不苏一带的妇女盛行“一匹瓦”，瓦片状的青布上绣有花纹，用银牌、环扣点缀。黑虎乡的妇女以白布帕包头（被称为“万年孝”）。传说是为了纪念民族英雄黑虎将军。蒲溪妇女包头用黑色头帕，前端露出一块白色布块，人称“喜鹊头帕”。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-md-5 py-2">
        <div class="row w3l-row">
            <div class="col-lg-6 w3l-image pe-lg-5 mb-lg-0 mb-md-5 mb-4">
                <img src="static/images/qiangmeishi.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 w3l-about-info px-lg-4 align-center">
                <h3 class="w3l-title-main mb-2">羌族饮食</h3>
                 <p class="my-4 pe-lg-5">羌族饮食丰富。
主食是玉米、洋芋、小麦、青稞，辅以荞麦、油麦和各种豆类，蔬菜品种多样。
传统的饮食有搅团、玉米蒸蒸、“金裹银”或“银裹金”、洋芋糍粑、煮洋芋、猪膘肉。
人们普遍吸兰花烟，还喜欢饮咂酒、“玉米蒸蒸酒”和蜂蜜酒。
咂酒，是羌族地区流行的一种特殊的饮酒方式。</p>
                </div>
            </div>
        </div>
    </div>
</section>